@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&family=Roboto:wght@300;400;500&family=Source+Sans+Pro:ital,wght@1,300&display=swap);

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #114b5f;
    --secondary-color: #eb9d6d;
    --accent1-color: #028090;
    --accent2-color: #95dce5;
  
    /* change the values below to your chosen font(s) */
    /*--heading-font: "IM Fell French Canon"; */
    --heading-font: "Racing Sans One";
    --paragraph-font: Tajawal, Helvetica, sans-serif; 
    /*--paragraph-font: "Aquire Light", Helvetica, sans-serif; */
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #114b5f;  /* headlines on a white background */ 
    --headline-color-on-color: #95dce5; /* headlines on a colored background */ 
    --paragraph-color-on-white: #028090; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #eb9d6d; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #114b5f;
    --nav-background-color: #eb9d6d;
    --nav-hover-link-color: #95dce5;
    --nav-hover-background-color: #028090;
  }
  
  .hero img {
    display: block;
    width: 35%;
    height: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

  h2 {
    text-align: left;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--nav-hover-background-color);
  }
  header {
    padding: 1em;
    color: var(--paragraph-color-on-color);
    background-color: var(white);
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }

  p {
    font-family: var(--paragraph-font);
    color: var(black);
    padding: 2em;
  }

 

